<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">

    {% block head %}
    <title>Layout Page</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="links">
            <a href="/" class="active">Teachers</a>
            <a href="/">Students</a>
        </div>
    </header> 
</body>
</html>