{% extends "layout.njk" %}

 {% block head%}
    <title>Sobre - Daniel Azevêdo</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/0/a/9/1/0a91382b3a3dbdfbfed2b871796c40ea.jpg" alt="Daniel Azevêdo">
        <h1>Daniel Azevêdo</h1>
        <h2>Aluno da Rocketseat</h2>
        <p>Progamador Full-Stack, em busca de conhecimento! Colaborador da <a href="https://rocketseat.com.br/" target="_blank">Rocketseat</a>. </p>
    </div>

    <div id="footer-links" class="links" >
        <a href="https://github.com/DanielAzevedoM" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/daniel-azev%C3%AAdo-123193196/" target="_blank">Linkedin</a>
    </div>

{% endblock %}
