 {% extends "layout.njk" %}

 {% block head %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <title>Portfolio - Daniel Azevêdo</title>
 {% endblock %}

{% block content%}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">

        <div class="card" id="k5TkBcUTJus">

            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/k5TkBcUTJus/0.jpg" alt="">
            </div>

            <div class="card__content">
                <p>Formulário animado com CSS puro e JS | Diego Fernandes</p>
            </div>

            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="hka7ay9F1kk">

            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/hka7ay9F1kk/0.jpg" alt="">
            </div>

            <div class="card__content">
                <p>Dá pra ganhar dinheiro sendo freelancer? | Diego Fernandes</p>
            </div>

            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="5MP6hmdEvJo">

            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/5MP6hmdEvJo/0.jpg" alt="">
            </div>

            <div class="card__content">
                <p>Android Nativo com Kotlin ft. Lucas Montano | Diego Fernandes</p>
            </div>

            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="HN1UjzRSdBk">

            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/HN1UjzRSdBk/0.jpg" alt="">
            </div>

            <div class="card__content">
                <p>Desvendando o CSS Grid na prática | Mayk Brito
                </p>
            </div>

            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="2alg7MQ6_sI">

            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/2alg7MQ6_sI/0.jpg" alt="">
            </div>

            <div class="card__content">
                <p>Como usar Git e Github na prática: Guia para iniciantes | Mayk Brito</p>
            </div>

            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">R$:19,99</p>
            </div>
        </div>
        
        <div class="card" id="vqrjFnq3">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/vqrjFnq3-uo/0.jpg" alt="">
            </div>

            <div class="card__content">
                <p>Criando Player de Áudio com Javascript | Mayk Brito</p>
            </div>

            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">R$:49,99</p>
            </div>
        </div>

    </section>
    
    <div class="modal-overlay">
       <div class="modal">
           <a class="close-modal">
               <i class="material-icons">close</i>
           </a>

           <div class="modal-content">
                 <iframe src="https://youtube.com/embed/" frameborder="0"></iframe>
            </div>
       </div>
      
    </div> 

<script src="scripts.js"></script>

{% endblock %}

