@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
 
    --color-rocket: #7159c1;
    --color-secondary: #F7DF1E;

}

*{

    margin: 0;

}

body{

    background-color: var(--color-rocket);
    font-family: 'roboto', sans-serif;

}

header{

    width: 100%;
    background-color: white;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
    
}

.links{

    font-size: 22px;

}

.links a{

    position: relative;
    text-decoration: none;
    color: #777;

}

.links a + a {

    margin-left: 32px;

}

.links a.active {

    font-weight: bold;
    color: var(--color-rocket);

}

.links a:hover{


    color: var(--color-rocket);

}

.links a::after{

    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-rocket);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width;

} 


.links a:hover:after{
    
    width: 100%;
    transition: width 700ms ease-in-out 500ms;

}

.card{

    background-color: white;
    margin: 45px auto;
    width: 800px;
    min-height: 400px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 6px -2px  black;
    
    animation: up 200ms ease;
    animation-duration: 700ms;  

}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}

.details{

    padding: 35px;
   
}

.details .item{

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;

}

.details .item:last-child{
    
    border: none;
}

.details .item div:nth-child(1){

    color: #777;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2){

    color: #555;
    font-size: 18px;
    font-weight: bold;

}

.details h3{

    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-rocket);

}

.details .item span{

    display: inline-block;
    padding: 8px 16px;
    background-color: var(--color-secondary);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;

}
