{% extends "layout.njk" %}

{% block head%}
    <title>Cursos - Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
{% endblock %}


{% block content %}


<div id="titulo">
    <h1>{{item.course_name}}</h1>
</div>
    
    
<section class="cardPage" >
       
    <div class="card">
            <div  class="iframePage"  >
                <iframe src="https://app.rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
            </div>
            <div class="nome-curso">
                <p>{{item.course_name}}</p>
            </div>

            <div class="info-cursoP">
                <p class="valor">{{item.course_value}}</p>
                <p class="modulos">{{item.course_modules}}</p>
            </div>
    </div>



    </section>    
    </div>



    {% endblock %}
