{% extends "layout.njk"%}

{% block head %}
    <title>Sobre - Rocketseat</title>
    
{% endblock %}


{% block content%}
    <div id="titulo">
        <div class="empresa">
            <h1>Empresa Rocketseat</h1>
        </div>
    </div>

        <section id="info-empresa">
            <div class="imagem-empresa">
                <img src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactjs/3.0.2/1588456824702/Microsoft.VisualStudio.Services.Icons.Default"
                    alt="rockeseat-logo">
            </div>

            <div class="texto-info">
                <p> A Rocketseat é uma plataforma de educação focada tecnologia, são uma comunidade incrível de
                    programadores em busca de adquirir um nivel maior de progamação 🚀.</p>
            </div>

            <div class="tecnologias">
                <h2>Tecnologias Utilizadas:</h2>
                <ul>
                    <li>NodeJS</li>
                    <li>ReactJS</li>
                    <li>ReactNative</li>
                </ul>
            </div>
        </section>

    <footer>

        <div id="footer-social" class="links">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
            <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">Facebook</a>
        </div>

    </footer>
{% endblock %}

